In [2]:
numbers = list(range(1, 11)) #creating list
print(numbers) #printing numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
squares = [num ** 2 for num in numbers] #making square
print(squares) #printing square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
total = sum(squares) #sum of squares
print(total) #printing the sum

385

In [5]:
etuple = tuple(i for i in range(1, 11) if i % 2 == 0) #even touple
print(etuple) #prining even touple

(2, 4, 6, 8, 10)

In [6]:
product = 1
for num in etuple:
    product *= num
print(product)

3840

In [7]:
odd1 = {x for x in range(1, 11) if x % 2 == 1}
odd2 = {x for x in range(1, 11, 2)}

print(odd1)
print(odd2)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [8]:
union = odd1.union(odd2)

print(union)

{1, 3, 5, 7, 9}

In [9]:
intersection = odd1.intersection(odd2)
print(intersection)

{1, 3, 5, 7, 9}

In [10]:
ascii = {k: ord(k) for k in 'abcde'}
print(ascii)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [15]:
def square(x):
  return x * x
print(square(5))

25

In [16]:
squarez = list(map(square, numbers))
print(squarez)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]